body

/* Background image */
{
  background-image: css/style.css;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.a
  {
    text-align: center;
  }

.header {
  overflow: hidden;
  background-color: white;
  padding: 10px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 15px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #a56d95;
  color: black;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/* BANNER */

/* Container holding the image.*/
.container {
  position: relative;
}

.main{
  display: flex;
}

.main img{
  margin-left: 150px;
  border-radius: 15px;
}

.description{
  margin-left: 20px;
  margin-right: 150px;
  text-align: justify;
}

/* GALLERY */

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 325px;
  margin-right: 325px;
}

.column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  border-radius: 25px;
}

/* FORM */

.form input{
  width: 300px;
  height: 35px;
  border: 2px solid black;
  border-radius: 5px;
}

.form textarea{
  width: 300px;
  height: 100px;
  border: 2px solid black;
  border-radius: 5px;
}

.form button{
  padding: 7px 15px;
  background-color: #a56d95;
  border: none;
  border-radius: 5px;
  color: white;
}